body{
    background-color: #edfaea; 
    font-family: sans-serif;
}

.form{
    width: 500px;
    margin: auto;
    padding-top: 40px;
}

.box1{
    box-shadow: 1px 1px 5px #95f5a9;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.box2{
    text-align: center;
}

h1{
    color: rgb(245, 43, 8);
    text-shadow: 2px 2px 5px rgb(144, 5, 33);
    font-size: 50px;
}

.email{
    margin-bottom: 20px;
}

.email>label {
    width: 100px;
    color:#080808;
    display: block;
}

.email>input {
    border-radius: 8px;
    outline: 0;
    width: 425px;
    padding: 7px;
} 

.senha.label {
    width: 100px;
    color:#080808;
    display: block;
    margin-top: 20px;
}

.senha>input {
    border-radius: 8px;
    outline: 0;
    width: 425px;
    padding: 7px;
    margin-bottom: 10px;
}

.enviar>button{
    background-image: linear-gradient(rgb(194, 4, 4), rgba(255, 0, 0, 0.603));
    width:100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 20px;
    color: #fff;
    outline: 0;
    border-radius: 20px; 
    transition: 0.2s;  
}

.enviar :hover{
    background-image: linear-gradient(rgb(195, 31, 31), rgba(251, 30, 30, 0.603));
    box-shadow: 2px 2px 10px red;
    transform: translate(0px, -2px);
    transition: 0.2s;
}
